* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', Verdana, Tahoma, sans-serif;
}



ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: grey;
}
a:hover{
    color: paleturquoise;
}
h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 4px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.navbar {
    top: 0;
    /* right: 0;
    left: 0; */
    /* position: fixed; */
    padding: 15px;
    background-color: sandybrown;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.navbar ul li {
    margin-left: 12px;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .container .awesome {
    display: flex;
    flex-direction: column;
}

header .container .awesome p {
    max-width: 400px;
}


button {
    max-width: 150px;
    padding: 12px;
    margin: 12px 0;
    border-radius: 12%;
    border: none;
}


.content .container{
    background-color: lightyellow;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .content1 .subcontent2 {
    display: flex;
    margin: 20px;
}

.content .content2 {
    display: flex;
    flex-direction: column;
}

.content .content2 .quote {
    max-width: 800px;
}
.content .content2 .author {
    align-self: flex-end;
}

.content .content3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 48px;
}


footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: salmon;
    padding: 20px;
    display: flex;
    justify-content: center;

}

    /* Odin standard fonts and color styling */
footer, .navbar, header .container {
    background-color: #1f2937;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
}
.container .awesome h2{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

header p, a {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
}
.button-two {
    border: 2px double white;
    border-radius: 12px;
}

.content3 {
    background-color: #3882f6;
    padding: 12px;
    border-radius: 12px;;
}

.subcontent1 h2 {
    font-size: 36px;
    color: #1f2937;
}

img {
    border-radius: 50%;
}

.content2 {
    background-color: #e5e7eb;
    left: 0;
    right: 0;
    padding: 20px;
}
.content2 .quote {
    font-size: 24px;
    font-style: italic;
    color: #1f2937;
    padding: 12px;
}

